# Exclude all markdown files except README.md and license.md
*.md
!README.md
!license.md

# Exclude all example html pages
*.html

# Exclude Docker, VSC and CI folders
.devcontainer/
.vscode/
.github/

#Exclude config files
rollup.config.mjs
tsconfig.json
.eslint.config.js
.prettierignore
.package.json
.packagelock.json

# Exclude electron folders
electron
